*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 1px solid red;
    outline-offset: -1px;
}
body{
    background-color: #13131F;
    transition-duration: .3s;
}
body.active{
    background-color: white;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}
header i{
    color: #8257E6;
    cursor: pointer;
    font-size: ;
}
header h3{
    color: #F9F9F9;
}
body.active header h3{
    color: #13131F;
}
header .menu{
    transition-duration: .3s;
}
header .menu:hover{
    background-color: #8257E6;
    border-radius: 14px;
    color: #13131F;
}
#banner{
    display: flex;
    height: calc(100vh - 64px);
    align-items: center;
}
#banner .item{
    width: 50%;
}
body.active #banner h1{
    color: #13131F;
}
#banner h1{
    color: white;
}
#banner h1 span{
    display: block;
    color: #8257E6;
    font-size: 40px;
}
#banner a{
    display: inline-block;
    border-radius: 26px;
    line-height: 40px;
    color: white;
}