@import url("reset.css");

/*header*/
.active span {
    color: var(--purple3);
}
.active .header-navbar {
    background-color: transparent;
    backdrop-filter: blur(30px);
}
.active .header-navbar h2,
.active .navbar ul a,
.active h1, 
.active h2, 
.active h5,
.active p {
    color: var(--black);
}
 
.active .navbar ul a:hover {
    color: var(--purple4);
}

.active .darkTheme {
    outline: 2px solid var(--black);
}
.active .ball-dark {
    transition: .3s ease-in;
    background-color: var(--purple2);
    transform: translateX(30px);
}
.active .ball-dark i {
    color: var(--purple5);
    transform: translateX(8px);
    transition: .3s ease-in-out;
}
/* main */
.active main {
    background-color: var(--purple6);
}

.active .title-home a {
    color: var(--white);
    background-color: var(--purple);
}
.active .aboutMe {
    background-color: var(--purple5);
}
.active .title-home a:hover {
    color: var(--black);
    outline: 1px solid var(--purple);
}