@import url("reset.css");

/*header*/
.light span {
    color: var(--purple3);
}
.light .header-navbar {
    background-color: transparent;
    backdrop-filter: blur(30px);
}
.light .header-navbar h2,
.light .navbar ul a,
.light h1, 
.light h2, 
.light h5,
.light p {
    color: var(--black);
}
 
.light .navbar ul a:hover {
    color: var(--purple4);
}

.light .darkTheme {
    outline: 2px solid var(--black);
}
.light .ball-dark {
    transition: .3s ease-in;
    background-color: var(--purple2);
    transform: translateX(30px);
}
.light .ball-dark i {
    color: var(--purple5);
    transform: translateX(8px);
    transition: .3s ease-in-out;
}
/* main */
.light main {
    background-color: var(--purple6);
}

.light .title-home a {
    color: var(--white);
    background-color: var(--purple);
}
.light .aboutMe {
    background-color: var(--purple5);
}
.light .title-home a:hover {
    color: var(--black);
    outline: 1px solid var(--purple);
}