@import url(reset.css);

/*header*/

.active .header-navbar {
    background-color: #E0AAFF;
    border-bottom: 1px solid #000;
}
.active .header-navbar h2 {
    color: #000;
}
.active .navbar ul a {
    color: #000;
}
.active .navbar ul a:hover {
    color: #5A189A;
}

.active .border {
    outline: 2px solid #000;
}
.active .ball {
    transition: .3s ease-in;
    background-color: #5A189A;
    transform: translateX(25px);
}

/* main */
.active main {
    background-color: #E0AAFF;
}