@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Poppins:wght@300;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: 1px solid red; */
}
.header-navbar {
    background-color: #10002B;    
    border-bottom: 1px solid #fff;
}
header {
    font-family: 'Poppins', sans-serif;
}
header div h2 {
    font-weight: 200;
    text-align: center;
    color: #fff;
}
span {
    color: #5A189A;
}
.navbar ul a {
    color: #fff;
}
.navbar ul a:hover {
    color: #5A189A;
}

/* main */
main {
    background-color: #10002B;
}
