@import url("dark.css");

/* https://www.figma.com/file/PZzcrbb56XFWwTA6hnZzOP/My-Portfolio-(Community)?node-id=0%3A1&t=E3EJWbPdRcYHbXvK-0 */


/* header */

header div h2 {
    font-weight: 200;
    text-align: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.border {
    cursor: pointer;
    width: 60px;
    height: 25px;
    outline: 2px solid #fff;
    border-radius: 40%;
    margin-left: 50px;
}
.border .ball {
    display: flex;
    align-items: center;
    background: #C77DFF;
    border-radius: 100%;
    width: 30px;
    height: 24px;    
    transition: .3s ease-in;
    transform: translateX(0);
}
.ball #image {
    transform: translateX(8px);
    transition: .3s ease-in-out;
    color: #240046;
}

/* main */
.home {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}
.home .title {
    text-align: justify;
}
.home .image img {
    border-radius: 100%;
}
.home .title button{
    border: none;
}
.home .title .link-cv{
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
    width: 150px;
    height: 40px;
    padding: 8px;
    border-radius: 10px 30px;
    text-align: center;
}
.home .title .link-cv:nth-child(4){
    border-radius: 30px 10px;

}
.home .title .link-cv:hover {
    width: 100px;
}

/* sobre mim */

.aboutMe .description {
    max-width: 900px;
    margin: auto;
    color: #fff;
    padding: 60px 0;
    text-align: justify;
    font-weight: 200;
    text-indent: 2em;
}
.description h2 {
    text-align: center;
    margin-bottom: 60px;
}