@import url("reset.css");

/* https://www.figma.com/file/PZzcrbb56XFWwTA6hnZzOP/My-Portfolio-(Community)?node-id=0%3A1&t=E3EJWbPdRcYHbXvK-0 */


/* header */


.header-navbar {
    font-family: 'Poppins', sans-serif;
    background-color: var(--purple2);   
    position: fixed; 
    width: 100%;
    transition: .2s ease;
    animation: top 1s ease forwards;
    z-index: 1000;
}

.header-navbar h2 {
    font-weight: 200;
    text-align: center;
    color: var(--white);
}

span {
    color: var(--purple6);
}

.navbar a {
    color: var(--white);
    opacity: 0;
    animation: right 3s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: var(--purple5);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a.link-ac {
    color: var(--purple5);
    position: relative;
}

.menu a.link-ac::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 90%;
    width: 80%;
    height: 1px;
    background-color: var(--purple5);
}

.darkTheme {
    cursor: pointer;
    width: 60px;
    height: 25px;
    outline: 2px solid var(--white);
    border-radius: 40%;
    margin-left: 50px;
    opacity: 0;
    animation: right 3s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.ball-dark {
    display: flex;
    align-items: center;
    background: var(--purple5);
    border-radius: 100%;
    width: 30px;
    height: 24px;    
    transition: .3s ease-in;
    transform: translateX(0);
}

.ball-dark i {
    transform: translateX(8px);
    transition: .3s ease-in-out;
    color: var(--purple2);
}

/* navimada */
.header-navbar.stick {
    background-color: transparent;
    transition: .2s ease;
    backdrop-filter: blur(20px);    
    box-shadow: 0 0 10px var(--black);
}


/* ==================== */

/* main */
main {
    background-color: var(--purple);
    font-family: 'Roboto', sans-serif;
}

.home {
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 100px 0;
}

.home .title-home{
    text-align: justify;
}

.image img {
    border-radius: 100%;
    animation: zoom 3.5s ease forwards;
}

.home .title-home a {
    display: inline-block;
    background-color: var(--purple6);
    margin-top: 20px;
    margin-right: 40px;
    width: 150px;
    height: 40px;
    padding: 8px;
    border-radius: 10px 30px;
    text-align: center;    
    transition: .3s ease-in-out;
    text-decoration: none;
    color: var(--black);
}

.home .title-home a:hover {
    color: var(--white);
    transform: scale(1.1);  
    transition: .3s ease-in-out;
    background-color: transparent;
    outline: 1px solid var(--purple6);
}

/* sobre mim */
.aboutMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple2);
    padding: 3rem;
    height: 100vh;
}

.aboutMe-icon i{
    font-size: 200px;
    color: var(--white);
}

.description {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.description p {
    text-align: justify;
    font-weight: 200;
    width: 40vw;
}



/* habilidades */
.habilidades h2 {
    padding-top: 5rem;
    text-align: center;
}
.skill {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 7rem ;
}
.boxSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    background-color: var(--purple2);
    outline: 1px solid var(--purple4);
    border-radius: 5px 5px 0 0;
    box-shadow: -1px 2px 2px 1px #ffffff71;    
    transition: .2s ease-in-out;
}
.boxSkills img {
    width: 30%;
}
.boxSkills h4 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: var(--white);
}
.boxSkills:hover {
    transform: scale(.95);
    transition: .2s ease-in-out;
}

/* Meus projetos */
.project-port {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 7rem;
    margin: 0 auto;
    position: relative;
}

.project-box {
    position: relative;
    border-radius: 3rem;
    padding: .2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.project-box img {
    width: 100%;
    transition: .4s ease;
}

.project-box:hover img:nth-child(0) {
    transform: scale(1.1);
}

.project-box .text-car {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, var(--purple6), var(--purple5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .4s ease;
}

.project-box:hover .text-car {
    opacity: 1;
}

.text-car a {
    width: 20%;
    background-color: var(--purple3);
    padding: .2rem;
    align-self: center;
    border: none;
}

.text-car a:hover {
    background-color: var(--purple4);
}

/* Modal projects */
.project-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;    
    opacity: 0;
    transform: scale(0);
    z-index: -1000;    
    transition: .7s ease;
}

.project-modal .modal-android {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--purple5);
    width: 90%;    
    border-radius: 10px 30px;  
    margin: 0 auto;
    gap: 4rem;
    padding: 2rem;
}

.modal-cont h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.modal-android .close {
    position: absolute;
    background-color: #bd0000;
    color: #fff;
    font-size: 1.4rem;
    top: 0;
    right: 0;
    border-radius: 100%;
    width: 40px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.modal-android .modal-buttons a {
    background-color: var(--purple3);
    color: var(--white);
    margin-right: 20px;
    border-radius: 10px 30px;  
    transition: .3s ease-in-out;
}

.modal-android .modal-buttons a:hover {
    color: var(--black);
    transform: scale(1.1);  
    background-color: transparent;
    outline: 1px solid var(--purple6);
}

.project-modal.active-modal {
    opacity: 1;
    z-index: 2000;
    transform: scale(1);    
}


@keyframes top {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes right {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}