@import url("reset.css");

/* https://www.figma.com/file/PZzcrbb56XFWwTA6hnZzOP/My-Portfolio-(Community)?node-id=0%3A1&t=E3EJWbPdRcYHbXvK-0 */


/* header */
.header-navbar {
    font-family: 'Poppins', sans-serif;
    background-color: var(--purple2);   
    position: fixed; 
    width: 100%;
    transition: .2s ease;
    animation: top 1s ease forwards;
    z-index: 1000;
}

.navbar a {
    color: var(--white);
    opacity: 0;
    animation: right 2s ease forwards;
    animation-delay: calc(.4s * var(--i));
}

.navbar a:hover {
    color: var(--purple5);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a.link-ac {
    color: var(--purple5);
    position: relative;
}

.menu a.link-ac::before {
    content: '';
    position: absolute;
    left: 10%;
    top: 90%;
    width: 80%;
    height: 1px;
    background-color: var(--purple5);
}

.darkTheme {
    cursor: pointer;
    width: 60px;
    height: 25px;
    outline: 2px solid var(--white);
    border-radius: 40%;
    margin-left: 50px;
    opacity: 0;
    animation: right 2s ease forwards;
    animation-delay: calc(.4s * var(--i));
}

.ball-dark {
    display: flex;
    align-items: center;
    background: var(--purple5);
    border-radius: 100%;
    width: 30px;
    height: 24px;    
    transform: translateX(0);
    transition: .3s ease-in;
}

.ball-dark i {
    color: var(--purple2);
    transform: translateX(8px);
    transition: .3s ease-in-out;
}

/* navimada */
.header-navbar.stick {
    background-color: transparent;
    transition: .2s ease;
    backdrop-filter: blur(20px);    
    box-shadow: 0 0 10px var(--black);
}


/* ==================== */

/* main */
main {
    background-color: var(--purple);
    font-family: 'Roboto', sans-serif;
}

.home {
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 100px 0;
}

.home .title-home{
    text-align: justify;
}

.image img {
    border-radius: 100%;
    animation: zoom 3s ease forwards;
}

.home .title-home .link-cv {
    display: inline-block;
    background-color: var(--purple6);
    margin-top: 20px;
    margin-right: 40px;
    width: 150px;
    height: 40px;
    padding: 8px;
    border-radius: 10px 30px;
    text-align: center;    
    text-decoration: none;
    color: var(--black);
    transition: .3s ease-in-out;
    opacity: 0;
    animation: zoom 3s ease forwards;
    animation-delay: calc(.4s * var(--i));  
}

.home .title-home .link-cv:hover {
    color: var(--white);
    transform: scale(1.1);  
    background-color: transparent;
    outline: 1px solid var(--purple6);
    box-shadow: 1px 1px 20px #fff;
}

.social-icon {
    margin-top: 1.7rem;
}

.social-icon i {
    cursor: pointer;
    margin-right: 1.2rem;
    padding: .7rem;
    font-size: 1.2rem;
    border-radius: 100%;
    outline: 1px solid var(--purple6);
    color: #fff;
    opacity: 0;
    animation: bottom 2s ease forwards;
    animation-delay: calc(.4s * var(--i));    
    transition: .3s ease-in-out;
}
.social-icon i:hover {
    background-color: var(--purple6);
    color: var(--black);
    box-shadow: 1px 1px 20px #fff;    
    transform: scale(1.2); 
}


/* sobre mim */
[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);

}

.aboutMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple2);
    padding: 3rem;
    height: 100vh;
}

.aboutMe-icon i{
    font-size: 200px;
    color: var(--white);
}

.description {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.description h2 {
    margin-bottom: 3.5rem;
}

.description p {
    text-align: justify;
    font-weight: 200;
    width: 40vw;
}



/* habilidades */
.habilidades {
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.habilidades h2 {
    text-align: center;
    margin-bottom: 5rem;
}
.skill {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 3rem ;
}
.boxSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    background-color: var(--purple2);
    outline: 1px solid var(--purple4);
    border-radius: 5px 5px 0 0;
    box-shadow: -1px 2px 2px 1px #ffffff71;    
    transition: .2s ease-in-out;
}
.boxSkills img {
    width: 30%;
}
.boxSkills h4 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: var(--white);
}
.boxSkills:hover {
    transform: scale(.95);
    transition: .2s ease-in-out;
    box-shadow: 1px 1px 20px #fff;
}



/* Meus projetos */
.projects {
    background-color: var(--purple2);
    padding-top: 5rem;
}

.project-port {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 7rem;
    margin: 0 auto;
    position: relative;
}

.project-box {
    position: relative;
    border-radius: 3rem;
    padding: .2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.project-box .imgProject {
    width: 100%;
    transition: .4s ease;
}

.project-box:hover .imgProject {
    transform: scale(1.1);
}

.project-box .text-car {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, var(--purple6), var(--purple5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .4s ease;
}

.text-car h2 {
    color: #346675;
    font-weight: 700;
    margin-bottom: 30px;
}

.text-car i {
    color: #346675;
    font-size: 2rem;
    margin-right: 20px;
}

.project-box:hover .text-car {
    opacity: 1;
}

.text-car .pjtVerMais {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 1s ease;
    background-color: var(--purple6);
}


/* Modal projects */
.projects h2 {
    text-align: center;
}

.project-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;    
    opacity: 0;
    transform: scale(0);
    z-index: -1000;    
    transition: .7s ease;
}

.project-modal .main-modal {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--purple5);
    width: 90%;    
    border-radius: 10px 30px;  
    margin: 0 auto;
    gap: 4rem;
    padding: 3rem;
}

.modal-cont h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;    
    color: #346675;
}

.main-modal img {
    width: 100%;
}

.main-modal .close {
    position: absolute;
    background-color: #bd0000;
    color: #fff;
    font-size: 1.4rem;
    top: 0;
    right: 0;
    border-radius: 100%;
    width: 40px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.main-modal .modal-buttons a {
    background-color: var(--purple3);
    color: var(--white);
    margin-right: 20px;
    border-radius: 10px 30px;  
    transition: .3s ease-in-out;
}

.main-modal .modal-buttons a:hover {
    color: var(--black);
    transform: scale(1.1);  
    background-color: transparent;
    outline: 1px solid var(--purple6);    
    box-shadow: 1px 1px 20px #000;
}

.project-modal.active-modal {
    opacity: 1;
    z-index: 2000;
    transform: scale(1);    
}


@keyframes top {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bottom {
    0%{
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoom {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}